{% extends 'gestaugi/base.html' %}

{% block main %}

  <div id="container" style="position: absolute; width: 70%;">
    <canvas id="infodashboard2" data-url="{% url 'gestaugi:infodashboard2' %}"></canvas>
  </div>

  <div id="texto" style="position: absolute; margin-left: 700px; margin-top: 50px; width: 20%;">
    <dialog open style="inline-size: 250px;overflow-wrap: break-word;font-size: smaller; padding: 3px">
        A DGT recolheu junto dos municípios do território continental informações
        sobre a situação das AUGI. Esta recolha foi efetuada entre maio de
        2018 e maio de 2019,num sistema de informação próprio da DGT.
        A grande maioria dos municípios, no entanto não submeteram nenhuma
        informação respeitante as suas AUGIs. Na zona da AML os municípios
        só relataram a situação de 435 AUGIs, 34% do total.
    </dialog>
  </div>

  <script>
     Chart.register(ChartDataLabels);
     Chart.defaults.set('plugins.datalabels', {
       color: 'black'
     });

    $(function () {

      var $populationChart = $("#infodashboard2");
      $.ajax({
        url: $populationChart.data("url"),
        success: function (data) {

          var ctx = $populationChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                backgroundColor: [
                  'red','blue','green','steelblue','yellow','cyan','darkblue','lightgreen','darkorange',
                  'forestgreen','orchid','salmon','turquoise','gold','aquamarine','coral','azure','deepskyblue'
                ],
                data: data.data
              }]
            },
            options: {
              responsive: true,
              plugins: {
                 legend: {
                     display: false,
                 },
                 title: {
                  display: true,
                  text: 'Nº de Augis da Aréa Metropolitana de Lisboa em reconversão (Relatório DGT 2020)'
                 }
              }
            }
          });
        }
      });
    });
  </script>

{% endblock %}