{% extends 'gestaugi/base.html' %}

{% block main %}

  <div id="container" style="position: absolute; width: 75%;">
    <canvas id="infodashboard3" data-url="{% url 'gestaugi:infodashboard3' %}"></canvas>
  </div>

  <div id="texto" style="position: absolute; margin-left: 700px; margin-top: 50px; width: 20%;">
    <dialog open style="inline-size: 250px;overflow-wrap: break-word;font-size: smaller; padding: 3px">
        Informação recolhida pela DGT entre maio de 2018 e maio de 2019.
    </dialog>
  </div>

  <script>
     Chart.register(ChartDataLabels);
     Chart.defaults.set('plugins.datalabels', {
       color: 'black'
     });

    $(function () {

      var $populationChart = $("#infodashboard3");
      $.ajax({
        url: $populationChart.data("url"),
        success: function (data) {

          var ctx = $populationChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                backgroundColor: [
                  'red','blue','green','steelblue','yellow','cyan','darkblue','lightgreen','darkorange',
                  'forestgreen','orchid','salmon','turquoise','gold','aquamarine','coral','azure','deepskyblue'
                ],
                data: data.data
              }]
            },
            options: {
              responsive: true,
              plugins: {
                 legend: {
                     display: false,
                 },
                 title: {
                  display: true,
                  text: 'Área Total das Augis da AML em reconversão - em hectares (Relatório DGT 2020)'                 }
              }
            }
          });
        }
      });
    });
  </script>

{% endblock %}ml>