<figure>
  {% load static %}
    <img class="imghead" src="{% static 'gestaugi/images/GA Logo.png' %}" style="float: left; position: relative;margin-top: 1vh;">
    <figcaption style="font-size: 2.5vw;position:absolute;margin-left: 17vw;margin-top: 5vh;">  Gestão AUGI </figcaption>
</figure>
<figure>
  <a href="https://www.ulusofona.pt/" target="_blank">
   {% load static %}
     <img class="imghead" src="{% static 'gestaugi/images/Ul.jpg' %}" style="float: left; position: relative;margin-top: 1vh;width: 12vw; height: 6vw; margin-left: 72vw; padding: 1px;border: 0px;">
  </a>
</figure>