{% extends 'gestaugi/base.html' %}
   {% load static %}
   {% block main %}
       <p></p>
       <div class="scroll-container">
         <img src="{% static 'gestaugi/images/Inquerito_1.png' %}" width="750" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_2.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_3.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_4.png' %}" width="600" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_5.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_6.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_7.png' %}" width="600" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_8.png' %}" width="550" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_9.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_10.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_11.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_12.png' %}" width="500" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_13.png' %}" width="600" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_14.png' %}" width="600" height="400">
         <img src="{% static 'gestaugi/images/Inquerito_15.png' %}" width="500" height="400">
      </div>
   {% endblock %}
