  <section class="navmenu">
    <ul>
    <li><span> <a href="{% url 'gestaugi:partners' %}"><i class="material-icons">group</i><b>Sócios</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:lots' %}"><i class="material-icons">dashboard</i><b>Lotes</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:coparticipation' %}"><i class="material-icons">calculate</i><b>Comparticipações</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:annuities' %}"><i class="material-icons">credit_card</i><b>Anuidades</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:payments' %}"><i class="material-icons">payments</i><b>Pagamentos</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:assembly' %}"><i class="material-icons">diversity_3</i><b>Assembleias</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:attendance' %}"><i class="material-icons">co_present</i><b>Presenças</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:expenses' %}"><i class="material-icons">euro_symbol</i><b>Despesas</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:reports' %}"><i class="material-icons">article</i><b>Relatórios</b></a></span> </li>
    <li><span> <a href="{% url 'gestaugi:settings' %}"><i class="material-icons">settings_applications</i><b>Tabelas</b></a></span> </li>
    </ul>
  </section>
