{% extends 'gestaugi/base.html' %}
  {% load static %}
  {% load django_tables2 %}

   {% block main %}
       {% block title %}
           <span style="position: absolute; margin-top: 0%">  <h4> Lista de Paramêtros </h4>
           </span>
           <span style="position: absolute; margin-top: 0% ; margin-left: 30%; background-color: #66afe9;border-radius: 3px">
                <form action="" method="GET">
                    <button type="submit" class="btn btn-primary material-icons">search</button>
                </form>
           </span>
           <span style="position: absolute; margin-top: 0% ; margin-left: 65%">
              <button class="btn btn-primary" type="button" onclick="location.href='/parameters'" style="width: 150px" > Novo Parametro </button>
            </span>
       {% endblock %}
       <span style="position: absolute;width: 76%; margin-top: 46px ; margin-left: 1%; margin-right: 1%">
          {% render_table table %}
       </span>
    {% endblock %}
